use lithair_core::prelude::*;
use serde::{Deserialize, Serialize};

#[derive(Debug, Clone, Serialize, Deserialize, DeclarativeModel)]
pub struct Item {
    #[http(expose)]
    pub id: String,
    #[http(expose)]
    pub name: String,
    #[http(expose)]
    pub description: String,
}
